*{
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: hsl(204, 43%, 93%);
}
.container{
    height: 850px;
    width: 400px;
    display: grid;
    grid-template-rows: repeat(3, 33%);
    border-radius: 5px;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
}
.container .row1{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: grid;
    grid-template-rows: 20% 30% 50%;
    padding: 20px;
    background-color: white;
    gap: 10px; 
}
.container .row1 h2{
    margin-top: 30px;
    color: hsl(179, 62%, 43%);
}
.container .row1 span{
    margin-top: 30px;
    color: hsl(71, 73%, 54%);
    font-weight: 600;
}
.container .row1 p{
    margin-right: 40px;
    color: hsl(218, 22%, 67%);
}



.container .row2{
    display: grid;
    grid-template-rows: 10% 34% 25% 25%;
    padding: 20px;
    background-color: hsl(179, 62%, 43%);
}
.container .row2 h2{
    color: white;
}
.container .row2 span{
    margin-top: 30px;
    color: white;
    font-weight: 600;
    font-size: 40px;
}
.container .row2 .text {
    display: grid;
    grid-template-columns: 100px 100px;
}
.container .row2 .text p{
    margin-left: -10px;
    margin-top: 50px;
    font-size: 18px;
    color: hsl(204, 43%, 93%);

}
.container .row2 p1{
    font-size: 18px;
    margin-top: 20px;
    color: white;
}
.container .row2 button{
    width: 350px;
    height: 55px;
    border: none;
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
}
.container .row2 button a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    font-family: "Karla", sans-serif;
}



.container .row3{
    display: grid;
    grid-template-rows: 35% 30%;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: hsl(179, 46%, 57%);
}
.container .row3 h2{
    margin-top: 30px;
    color: white;
}
.container .row3 p{
    padding-right: 100px;
    color: hsl(204, 43%, 93%);
    font-size: 19px;
}



@media screen and (min-width: 1440px){
    .container{
        display: grid;
        place-content: center;
        min-height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .row1{
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .row2 h2 {
        font-size: 20px;
        margin-top: 10px;
    }
    .container .row2{
        border-bottom-left-radius: 5px;
    }
    .container .row2 span{
        font-size: 30px;
    }
    .container .row2 .text p{
        font-size: 14px;
        margin-left: -35px;
        margin-top: 40px;
    }
    .container .row2 p1{
        font-size: 16px;
    }
    .container .row2 button{
        width: 250px;
        height: 45px;
    }
    .container .row3{
        border: none;
        border-radius: 0px;
        border-bottom-right-radius: 5px;
    }
    .container .row3 h2{
        font-size: 20px;
        margin-top: 10px;
    }
    .container .row3 p{
        width: 200px;
        font-size: 15px;
        margin-top: -20px;
        padding-right: 60px;
    }

}
